Source: qnapi
Section: net
Priority: optional
Maintainer: Mikołaj Stańczak <6730023+MikoWhy91@users.noreply.github.com>
Build-Depends: debhelper (>=9), cmake (>= 3.16), qt6-base-dev, qt6-tools-dev, qt6-l10n-tools, libqt6core5compat6-dev, pkg-config, libmediainfo-dev, zlib1g-dev
Standards-Version: 3.9.7
Homepage: https://github.com/MikoWhy91/qnapi
Vcs-Git: https://github.com/MikoWhy91/qnapi.git
Vcs-Browser: https://github.com/MikoWhy91/qnapi

Package: qnapi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, p7zip-full 
Description: Qt-based subtitle downloader
 QNapi is graphical and console subtitle downloader that supports several
 subtitle engines like NapiProjekt, OpenSubtitles, Napisy24. Subtitles
 may be fetched in many different languages. It supports converting
 subtitles to different formats like SRT, microDVD, TMP.

